@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');
@import './base/variables';
@import './base/mixins';
@import './layout/graph';
@import './layout/canvas';

html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
h1,
p,
button {
	font-family: 'Roboto Mono', sans-serif, serif;
}
